<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<ol>
	<li [class.selected]="p==personne"(click)="myFunction(p);" *ngFor="let p of liste"> {{p.prenom}} {{p.nom }} </li>
</ol>

<h2>Détail sur {{personne.prenom}} {{personne.nom}} </h2>
<ul> 	
	<li><b>Nom : </b>{{personne.nom}}</li>
	<li><b>Prenom : </b>{{personne.prenom}}</li>
	<li><b>Description : </b>{{personne.description}}</li>
	<li><b>Travail : </b>{{personne.travail}}</li>
	<img src="./assets/{{personne.nom}}.jpg">
</ul>

<h2>Modification</h2>
<h3 style="color:red;" *ngIf="!personne.nom"> Attention</h3>
<ul>

	<li>Nom : <input [class.erreur]="!personne.nom"[(ngModel)]="personne.nom" /></li>
	<li>Prenom : <input [(ngModel)]="personne.prenom" /></li>
	<li>Travail Principal : <input [(ngModel)]="personne.travail" /></li>
	<li>Résumé : <textarea rows="6" cols="150" [(ngModel)]="personne.description" ></textarea></li>
	
	
</ul>
