<!--The content below is only a placeholder and can be replaced.-->
<div class="titre">
  <h1>
	Welcome to {{ title }}!
  </h1>
</div>

<div class="list">
	<h2>Here are some links to help you start: </h2>
	<ul>
		<li>
			<h3>{{p1.nom}}</h3>
			<p>{{p1.description}}</p>
		</li>
		<li>
			<h3><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h3>
		</li>
		<li>
			<h3><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h3>
		</li>
	</ul>
	
	<div>
		<label>Nom</label>
		<input [(ngModel)]="p1.nom" placeholder="Nom" />
	</div>
	
	<div class="input_prenom">
		<label>Prenom</label>
		<input [(ngModel)]="p1.prenom" placeholder="Nom" />
	</div>
	
	<div>
		<label>Description</label>
	</div>
	
	<div>
		<textarea rows="10" cols="80" [(ngModel)]="p1.description"></textarea>
	</div>
	
</div>
